#root {
  width: 100%;
  max-width: 800px;
  text-align: center;
}

.loading {
  color: #555;
  font-style: italic;
  margin-top: 10px;
}

.logo {
  height: 20em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 0em;
  ;
}

.read-the-docs {
  color: #888;
}

.result {
  text-align: center;
  background-color: #58595B;
  padding: 1.5em;
  border-radius: 10px;
  margin-top: 2rem;
  line-height: 1.6;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.result h3,
.result h2 {
  color: rgb(212, 212, 212);
}

.main {
  color: #454546;
}

.loading {
  color: #AEACB2;
  font-style: italic;
  margin-top: 10px;
}

.error {
  margin-top: 1rem;
  background-color: #662222;
  color: #ffcccc;
  padding: 1em;
  border-radius: 6px;
}

.result-table,
.result-activity {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  background-color: #FEFEFE;
  border-radius: 8px;
  overflow: hidden;

  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.result-table th,
.result-table td,
.result-activity th,
.result-activity td {
  padding: 0.8rem 1rem;
  text-align: left;
  border-bottom: 1px solid #58595B;
  background-color: ffd;
  color: black;
}

.result-activity td {
  width: 20%;
  text-align: center;
}

.result-table td .result-activity td {
  text-align: center;
}

.result-table th,
.result-activity th {
  background-color: #AEACB2;
  font-weight: 600;
  /* color: #00ffc8; */
  color: #ffffff;

}

.result-table tr:last-child td,
.result-activity tr:last-child td {
  border-bottom: none;
}

.note {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 8px;
  color: rgb(212, 212, 212);
  font-size: 0.95rem;
}